<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Cadastro </title>
</head>

<body>
    <h1> CADASTRO DE LEMBRETES </h1>

    <form action="/lembretes" method="">
        Nome: <input type="text" name="nome" />
        Descrição: <input type="text" name="descricao" />
        <input type="submit" value="Enviar" />
    </form>
    <br><br>
    <a href="/lembretes"> Página Principal </a>

</body>

</html>